[Unit]
Description=NetEm controlled traffic target benchmark address
After=network-online.target
Wants=network-online.target
Before=netem-traffic-target.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ip address replace 198.18.0.1/32 dev lo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
